* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #B37244;
    --color2: #33F2C4;
    --color3: #D39264;
    --color4: #5312E4;
}

body {
    width: 100%;
    margin: 0 auto;
}

#doc-header {
    background: linear-gradient(90deg, var(--color2) 40%, var(--color4));
    padding-top: 12px;
    padding-bottom: 12px;
}

#current-city-today {
    border: 2px #808080 solid;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
}

.forecast5 {
    background-color: var(--color4);
    color: var(--color3);
    padding: 10px;
    box-shadow: 0 0 5px black;
}

.bgLow, .bgModerate, .bgHigh, .bgVeryHigh, .bgExtreme {
    padding: 4px;
    border-radius: 10%;
    color: #b0b0b0;
}

.bgLow {
    background-color: green;
}

.bgModerate {
    background-color: yellow;
}

.bgHigh {
    background-color: orange;
}

.bgVeryHigh {
    background-color: red;
}

.bgExtreme {
    background-color: purple;
}

.fontSize18 {
    font-size: 18px;
}

.fontSize20 {
    font-size: 20px;
}

.fontSize22 {
    font-size: 22px;
}

.fontSize24 {
    font-size: 24px;
}

.fontSize26 {
    font-size: 26px;
}

.fontSize28 {
    font-size: 28px;
}

#clearSearchHistory {
    background-color: var(--color4);
    color: var(--color3);
    margin-top: 20px;
}